main{
    background-color:aliceblue;
    display:flex;
    width:50%;
    margin:60px auto;
}
.trai{
    flex:1;
    display:block;
    text-align: center;
}
.trai img{
    margin:20px auto;
    height:350px;
    width:250px;
}
.phai{
    flex:1;
    display:block;
}
